body{background-color: plum; font-family: Arial, Helvetica, sans-serif;}

h1{background-color: purple; padding: 10px; text-align: center; color: white; box-sizing: border-box;}

li{line-height: 0.7cm;}/*Espaçamento entre lihas*/

